/Práctica1/Sesion1/Sesion1_Ruby/nbproject/private/
/Práctica1/Sesion1/Sesion1_Java/target/
/Práctica1/Sesion3/sesion3_observer/nbproject/private/
/Práctica1/Sesion3/sesion3_observer/build/
/Práctica1/Sesion3/sesion3_observer/dist/
/Práctica1/Sesion4/sesion4/nbproject/private/
/Práctica1/Sesion4/sesion4/build/
/Práctica1/Sesion4/sesion4/dist/
/Practica2/p2_netbeans/build/